<div class="menu-bar-container">
    <div class="row">
        <div class="col-6">
            <div class="menu-item" [ngClass]="{'active' : Page == 'home'}">
                <a routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span class="menu-text">
                        Dit Aftryk
                    </span>
                </a>
                
            </div>
        </div>
        <div class="col-6">
            <div class="menu-item" [ngClass]="{'active' : Page == 'stats'}">
                <a routerLink="/statistic">

                    <mat-icon>public</mat-icon>
                    <span class="menu-text">
                        Statistik
                    </span>
                </a>
            </div>

        </div>
    </div>
</div>
