<div class="row register-page">
    <app-register-heading [heading]="Heading" [icon]="Icon"></app-register-heading>


    <div class="popup-container">
        <div class="register-form">
            <form autocomplete="off" [formGroup]="Form">
                <div class="form-group">
                  <input type="text" (keyup)="checkLicense($event)" formControlName="license" class="form-control" id="registerLicense" aria-describedby="License Plate" placeholder="Nummerplade">
                </div>
                <div class="form-group">
                    <label for="registerCarmodel">Bil model</label>
                    <input type="text" formControlName="model" class="form-control" id="registerCarmodel" aria-describedby="Car Model" placeholder="XXXXXXXX">
                    <div *ngIf="f.model.errors && !f.model.pristine" class="invalid-feedback">
                        <div *ngIf="f.model.errors.required">Bil model skal udfyldes</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <app-register-bar [allowNext]="Form.valid" [prev]="PrevPage" [next]="NextPage" (onNext)="saveInfo()"></app-register-bar>
    

    
</div>